# change this file name to .env and required keys
BILLETTO_API_KEYPAIR = ""
BILLETTO_API_BASE = ""
CLERK_SECRET_KEY = ""
CLERK_PUBLISHABLE_KEY = ""
CLERK_SIGN_UP_URL = ""
CLERK_SIGN_IN_URL = ""
CLERK_USER_PROFILE_URL = ""
